/* BOLD */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Bold.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* SEMI BOLD */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-SemiboldItalic.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* MEDIUM */

@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Medium.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* REGULAR */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Regular.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* LIGHT */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Light.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* EXTRA LIGHT */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Extralight.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* THIN */
@font-face {
    font-family: 'Graphik_Web';
    src: url('/theme/assets/fonts/GraphikWeb-Thin.woff2') format('woff2'),
        url('/theme/assets/fonts/GraphikWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

.title{
    &-font{
        &-2{
            @include fonts(var(--font-font-2-link), inherit, inherit);
        }
    }
}


