.accordion{
    /* ACCORDION */
    .card{
        background-color: transparent;
        @include border-radius(0);
        border-width: 0 0 0 0;
        border-color: transparent;
        @include position(relative);
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid var(--clr-3);
        
        &-button{
            @include position(relative);
        }
    
        h4{
            margin-bottom: 0;
            @include position(relative);
            &::before{
                content: '';
                height: 1.95rem;
                width: 1.95rem;
                position: absolute;
                margin-left: 17px;   
                line-height: 0;
                right: 0;
                @include ease(.3s);
                @include transform(rotate(0));
                @include mask('/theme/assets/images/accordion_cross.svg', black);
            }
        }

        &.active{
            h4{
                &::before{
                    @include transform(rotate(-135deg));
                    @include mask('/theme/assets/images/accordion_cross.svg', black);
                }
            }
        }

        .collapse:not(.show) {
            display: none;
        }

        &-header{
            padding: 0 0 0 0;
            padding-right: 0;

            .card{
                &-header{
                    text-decoration: none;
                }
            }
        }

        &-body{
            padding: 2rem 6rem 0 0;

            :nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
}