/* BUTTONS */

.buttons{
    .button{
        &-wrapper{
            margin-right: 2rem;
            
            &:nth-last-child(1){
                margin-right: 0;
            }

            @include media-breakpoint-down(sm){
                margin-bottom: 1rem;
            }    
        }
    }
}

.button-wrapper {
    display: flex;

    &.lef{
        justify-content: flex-start;
    }

    &.mid{
        justify-content: center;
    }

    &.rig{
        justify-content: flex-end;
    }

    &.vol{
        .button, button{
            width: 100%;
            &-wrapper-inner {
                width: 100%;     
            }
        }
    }

    .button-wrapper-inner{
        @include position(relative);
    }

    .icon{
        margin-left: 2.3rem;
    }

    .button, button {
        @include position(relative);
        display: inline-block;
        background-color: var(--clr-1);
        border: none;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
     
        @include border-radius(var(--bdr-2));

        a, input, p, button {
            @include position(relative);
            @include dimensions(100%, 100%);
            @include fonts(var(--font-font-3-link), var(--font-7), var(--font-7));
            -webkit-appearance: none;
            border: 0;
            background: none;
            text-align: center;
            display: block;
            color: $white;
            text-decoration: var(--font-7-cap);
            cursor: pointer;
            outline: none;
            margin-bottom: 0;
            font-weight: var(--font-7-fw);
            padding-top: 15px;
            padding-bottom: 16px;
            padding-right: 29px;
            padding-left: 29px;
        }

        &.light{
            background-color: $white;

            a, input{
                color: var(--clr-3);
            }
        }

        &.dark{
            background-color: var(--clr-3);

            a, input{
                color: $white;
            }
        }
    
        &-icon{
            width: 4rem;
            height: 4rem;

            .icon{
                margin-left: 0;

                svg{
                    height: var(--font-7);
                    line-height: var(--font-7);
                }
            }
        }
    }
}

.tooltip{
   
    &.show{
        opacity: 1;
    }
    .tooltip-inner{
        max-width: 30rem;
        padding: .3rem .5rem;
        background-color: white;
        @include border-radius(var(--bdr-3));
        box-shadow: 2px -20px 20px -10px rgba(0, 0, 0, 0.149);
    }
    *{
        margin-bottom: 0;
        color: var(--clr-3);
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .arrow {
        &::before {
          position: absolute;
          content: "";
          border-color: transparent;
          border-style: solid;
        }
      }
}

.bs-tooltip{
    &-top{
        .arrow {
            &::before {
                border-top-color: white;
            }
        }
    }
    
    &-right{
        .arrow {
            &::before {
                border-right-color: white;
            }
        }
    }
    
    &-bottom{
        .arrow {
            &::before {
                border-bottom-color: white;
            }
        }
    }
    
    &-left{
        .arrow {
            &::before {
                border-left-color: white;
            }
        }
    }
}