/* FORM */
input:focus{
    outline: none;
}
form{
    h3{
        margin-bottom: 1rem;
        color: var(--clr-3);
    }

    p{
        margin-bottom: 2rem;
        color: var(--clr-3);
    }

    h5{
        margin-bottom: 1rem;
        margin-top: 1.1rem;
        color: var(--clr-3);
    }

    .form-button{
        margin-top: 2rem;
    
        p{
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 2.4rem;

            a{
                font-weight: 600;
            }
        }
    }
}

.fields-wrapper{
    &.story{
        .form-field-container{
            margin-right: 2rem;

            .form-field{
                &.select {
                    select{
                        @include border-radius(var(--bdr-2));
                    }

                    &::after{
                        @include border-radius(var(--bdr-2));    
                    }
                }

                &.text, &.email, &.time, &.date{
                    input{
                        @include border-radius(var(--bdr-2));
                    }

                    &::after{
                        @include border-radius(var(--bdr-2));
                    }
                }
            }
        }

        .story{
            &-text{
                margin-right: 2rem;
                color: black;
            }
        }
        
        
        .form-button{
            margin-top: 0;
        }
    }
    .form-field-container{
        margin-bottom: 2rem;
        width: 100%;
        
        &:nth-child(1){
            h5{
                margin-top: 0;
            }
        }

        .form-field{
            @include position(relative);

            .option{
                
                label {
                    color: var(--clr-3);
                }
            }

            &.text, &.email, &.textarea, &.time, &.date{
                input, textarea {
                    @include position(relative);
                    padding: 1.55rem 1.8rem;
                    color: var(--clr-3);
                    font-size: var(--font-6);
                    line-height: 100%;
                    width: 100%;
                    margin-left: 1px;
                    margin-top: 1px;
                    background-color: white;
                    @include border-radius(var(--bdr-3));
                    z-index: 1;
                    border: none;
                    outline: none;
                    margin-bottom: 0;
                }

                textarea{
                    min-height: 19.3rem;
                    width: 100%;
                }

                ::placeholder{
                    color: var(--clr-3);
                }

                &::after{
                    content: '';
                    @include position(absolute);
                    @include border-radius(var(--bdr-3));
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border: 1px solid var(--clr-3);
                    opacity: .11;
                }
            }

            &.select{
                select{
                    @include position(relative);
                    -webkit-appearance: none;
                    padding: 1.55rem 4.8rem 1.55rem 1.8rem;
                    color: var(--clr-3);
                    font-size: var(--font-6);
                    line-height: 100%;
                    width: 100%;
                    margin-left: 1px;
                    margin-top: 1px;
                    background-color: transparent;
                    @include border-radius(var(--bdr-3));
                    z-index: 1;
                    border: none;
                    outline: none;
                    margin-bottom: 0;
                    color: var(--clr-3);
                }

                .select-arrow{
                    @include position(absolute);
                    top: 0;
                    line-height: 0;
                    top: 50%;
                    @include transform(translateY(-50%)); 
                    right: 18px;
                }

                &::after{
                    content: '';
                    @include position(absolute);
                    @include border-radius(var(--bdr-3));
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border: 1px solid var(--clr-4);
                    opacity: 1;
                }
            }



            &.file{
                input{
                    -webkit-appearance: none;
                    color: var(--clr-3);
                    
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                        width: 1px;
                    }

                    &::before{
                        content: 'Kies bestand';
                        color: white;
                        background-color: var(--clr-1);
                        display: inline-block;
                        padding: 12px 29px 13px 29px;
                        outline: none;
                        white-space: nowrap;
                        -webkit-user-select: none;
                        cursor: pointer;
                        font-weight: 400;
                        @include fonts(var(--font-font-3-link), var(--font-5), var(--font-5-line));
                        @include border-radius(var(--bdr-2));
                    }

                    &.trash{
                        &:after{
                            content: url('/theme/assets/images/cross.svg');
                            height: 10px;
                            width: 10px;
                            position: absolute;
                            top: 50%;
                            margin-left: 17px;
                            @include transform(translateY(-50%));   
                            line-height: 0;
                        }
                    }
                }
            }
            /* &.date{
                &::-webkit-calendar-picker-indicator {
                    
                }
            } */
            .option{
                &-group{
                    &-column{
                        .option{
                            margin-bottom: .3rem;
                            &:nth-last-child(1){
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            &.checkbox{
                .option{
                    margin-top: 3px;
                    margin-right: 3rem;

                    &:nth-child(1){
                        margin-top: 0;
                    }
                    input{
                        position: relative;
                        -webkit-appearance: none;
                        border: 0;
                        padding: 8px;
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        background-color: transparent;
                        transition: all .4s ease;
                        @include transform(translateY(3px));   

                        &::before{
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            height: 100%;
                            width: 100%;    
                            border: 2px solid var(--clr-3);
                            @include ease(.4s);
                            opacity: .1;
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            height: calc(100% - 6px);
                            width: calc(100% - 6px);
                            background-color: transparent;
                            @include ease(.4s);
                        }

                        &:checked{
                            &::after{
                               background-color: var(--clr-3);
                            }
                        }
                    }
                }
            }

            &.radio{
                .option{
                    margin-right: 3rem;
                    

                    &:nth-last-child(1){
                        margin-right: 0;
                    }

                    input{
                        margin-right: 10px;
                        position: relative;
                        -webkit-appearance: none;
                        border: 0;
                        padding: 8px;
                        width: 18px;
                        height: 18px;
                        border-radius: 100%;
                        background-color: transparent;
                        @include ease(.4s);
                        @include transform(translateY(3px));   

                        &::before{
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            height: 100%;
                            width: 100%;    
                            border: 2px solid var(--clr-3);
                            @include ease(.4s);
                            border-radius: 100%;
                            opacity: .1;
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            height: calc(100% - 6px);
                            width: calc(100% - 6px);
                            background-color: transparent;
                            border-radius: 100%;
                            @include ease(.4s);
                        }

                        &:checked{
                            &::after{
                               background-color: var(--clr-3);
                            }
                        }
                    }
                }
            }
        }
    }
}

