.galerij{
    &-wrapper{
        width: 100%;
        @include position(relative);
        display: -ms-grid;
        display: grid;
        grid-auto-rows: 5px;
        grid-gap: 0 calc(100% / 12);
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(2, 1fr);

        @include media-breakpoint-down(sm){
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0 0;
        }

        .galerij{
            &-image{
                @include position(relative);
                width: 100%;
                height: auto;
                display: table;
                margin-bottom: 0px;

                .item{
                    width: 100%;

                    .grid{
                        &-img{
                            @include position(relative);

                            .button{
                                &-wrapper{
                                    @include position(absolute);
                                    top: 50%;
                                    left: 50%;
                                    @include transform(translate(-50%, -50%));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.gallery{
    width: calc(100% + 2rem);
    margin-left: -1rem;
    &-item, &-sizer{
        
        width: calc((100% - 3px) / 3);
        padding-right: 1rem;
        padding-left: 1rem;
        .item{
            width: 100%;
        }
        picture{
            height: 0;
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &.afbeeldings-galerij{
        width: calc(100% + 12rem);
        margin-left: -6rem;

        .gallery{
            &-item, &-sizer{
                width: calc((100% - 3px) / 2);
                padding-right: 6rem;
                padding-left: 6rem;
                @include media-breakpoint-down(sm){
                    width: 100%;
                }

                picture{
                    height: 0;
                    width: 100%;
                    margin-bottom: 0rem;
                }
            }
        }
    }
}
