/* LOGO */
.logos{
    @include position(relative);
    
    &-column{
        width: 50%;
        flex-basis: 50%!important;
        max-width: 50%!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 10px;
        @include media-breakpoint-up(md){
            width: 20%;
            flex-basis: 20%!important;
            max-width: 20%!important;
        }

        @include media-breakpoint-down(md){
            &:nth-last-child(1){
                margin: 0 auto;
            }
        }

        .image{
            width: 100%
        }
    }

    .logo{
        @include position(relative);
        margin-bottom: 2rem;
        &.gray {
            width: 13%;
            filter: grayscale(50) brightness(0) invert(0);
            -webkit-filter: grayscale(50) brightness(0) invert(0);
            opacity: .3;
            padding-bottom: 7%;
        }
    }

    @include media-breakpoint-down(md){
        text-align: center;
    }
}