.review-el{
    .item{
        &.slider_item{
            margin-bottom: 200px;
            @include media-breakpoint-down(sm){
                margin-bottom: 0;
            }
        }

        &_content{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 9rem;
            padding-top: 6.5rem;
            background-color: transparent;

            @include media-breakpoint-down(sm){
                padding-top: 4rem;
                padding-bottom: 0;
            }
        }
    }

    &-content{
        width: calc(100% / 12 * 6);
        margin-left: auto;
        padding-bottom: 0px;

        @include media-breakpoint-down(sm){
            width: 100%;
        }
        .person{
            margin-bottom: 0;
            &_image{
                margin-bottom: 2.5rem;
            }
        }

        &.step-content{
            padding-bottom: 12rem;
            padding-top: 6.5rem;
            margin-bottom: 200px
        }
    }

    &-images{
        @include position(relative);
        width: calc(100% / 12 * 5);
        padding-bottom: 9rem;

        @include media-breakpoint-down(sm){
            width: 100%;
            padding-bottom: 7rem;
        }
        
        &-img{
            height: 100%;
            @include media-breakpoint-down(sm){
                height: 0;
                padding-top: 100%;
                width: calc(100% - 40px);
            }
            &-last{
                @include position(absolute);
                width: 200px;
                height: 200px;
                padding-top: 200px;
                min-height: unset;
                bottom: 0;
                right: 0;
                @include transform(translateX(calc(100% - 60px)));
                @include media-breakpoint-down(sm){
                    width: 150px;
                    height: 150px;
                    padding-top: 150px; 
                    right: 0px;
                    @include transform(translateX(0));
                }
            }
        }
    }
}