/* SERVICE */
.service{
    @include position(relative);
    padding: 4rem;
    background-color: $white;

    .person{
        margin-bottom: 2.4rem;
        color: var(--clr-3);
    }

    h3{
        margin-bottom: 1.8rem;
        color: var(--clr-3);
    }

    ul{
        list-style: none;

        li{
            @include position(relative);
            padding-top: 1.55rem;
            padding-bottom: 1.55rem;
            color: var(--clr-3);

            &::after{
                content: "";
                background-color: $grey;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: unset;
                left: 0;
                top: 0;
            }

            a{
                color: var(--clr-3);
                font-weight: var(--font-5-fw);
                text-decoration: none;       
            }

            &:nth-last-child(1){
                padding-bottom: 0;
            }
        }
    }
}