/* SHARE */
.post-share{
    @include position(relative);
    margin-top: 6.3rem;
    margin-bottom: 17.1rem;
}

.social-share-items{
    @include position(relative);
    .social-link{
        @include position(relative);
        font-size: var(--font-3);
        line-height: 0;
        color: var(--clr-3);
        margin-right: 2rem;
    }

    &.jc{
        &-center{
            .social-link{
                &:nth-child(1){
                    margin-left: 2rem;
                }
            }
        }

        &-end{
            .social-link{
                &:nth-last-child(1){
                    margin-right: 0rem;
                }
            } 
        }
    }
}

.socials{
    h3{
        margin-bottom: 0;
        color: var(--clr-3);
    }
}
.social-share{
    @include position(relative);

    .social-button{
        @include position(relative);
        width: 4.8rem;
        height: 4.8rem;
        background-color: var(--clr-3);
        margin-right: 8px;
        @include border-radius(var(--bdr-1));
        
        a{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                height: 2rem;
                width: 2rem;
            }
        }

        &.facebook-button{
            &::after{
                content: '';

            }   
        }
        &.linkedin-button{
            &::after{
                content: '';
            }   
        }
        &.twitter-button{
            &::after{
                content: '';
            }   
        }

        &:nth-last-child(1){
            margin-right: 0;
        }
    }
}

