.sticky-cta{
    position: relative;
    display: flex;
    @include transition(all .3s ease);
    opacity: 0;
    visibility: hidden;
    display: none;
    
    &.show{
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    &.hide{
        opacity: 0;
        display: none;
        @include transition(unset);
    }
    &.hide-cta{
        visibility: hidden;
        opacity: 0;
        @include transform(translateY(-100%))
    }

    &.left{
        justify-content: flex-start;
    }

    &.center{
        justify-content: center;
    }

    &.right{
        justify-content: flex-end;
    }

    .fixed-items{
       position: fixed; 
       bottom: 4rem;
       z-index: 100;
       max-width: calc(100vw - 8rem);
    }

    .close-cta{
        position: absolute;
        top: 0;
        right: 0;
        height: 4rem;
        width: 4rem;
        background-color: white;
        box-shadow: -3px 5px 10px rgba(0,0,0,.12);
        border-radius: 100%;
        transform: translate(50%, -50%);
        display: flex;
        flex-flow: column;
        align-content: center;
        justify-content: center;
        padding: 10px;

        .bar{
            width: 20px;
            height: 1px;
            background: var(--clr-1);
            margin-bottom: 9px;

            &.close-bar{
                &-2{
                    @include transform(translateY(-5px) rotate(-45deg) scaleX(1));
                    margin-bottom: 0;
                }

                &-1{
                    @include transform(translateY(5px) rotate(45deg) scaleX(1));
                }
            }
        }
    }
}
.small-cta{
    &.background{
        padding: 3.5rem;
        @include border-radius(var(--bdr-2));
    }

    &.big{
        padding: 6rem;
        @include media-breakpoint-down(sm){
            padding: 3.5rem;
        }
    }

    &.sticky{
        position: relative;
        bottom: 0rem;
        z-index: 1000; 
        display: inline-block;
    }

    &-inner{
        p{
            margin-bottom: 0;
            margin-right: 2rem;
        }

        h2{
            margin-bottom: 1rem;
            max-width: 50%;
            @include media-breakpoint-down(sm){
                max-width: unset;  
            }
        }

        .buttons{
            @include media-breakpoint-down(sm){
                margin-top: 1.3rem;
            }

            &.rig{
                margin-left: auto;
                @include media-breakpoint-down(sm){
                    margin-left: unset;
                }
            }

            &.mid{
                margin-left: auto;
                margin-right: auto;
                @include media-breakpoint-down(sm){
                    margin-left: unset;
                }
            }
        }
    }
}