.testimonial{
    &-element{
        .testimonial {
            background-color: transparent;
            padding: 0 0 0 0;
        }

        &.content{
            &-center{
                .item{
                    .testimonial{
                        align-items: center;
                        .person{
                            width: auto;
                            flex-direction: column;
                            margin-bottom: 2rem;
                            
                            &_image{
                                margin-right: 0;
                                margin-bottom: 2rem;
                            }

                            &_title{
                                width: 100%;
                                p{
                                    text-align: center;
                                }
                            }
                        }   
                        h5{
                            text-align: center;   
                        }

                        .stars{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}