/* HEADER */
.slider{
    &-container{
        &-header{
            @include position(relative);
        }
    }
}

.post_conduct_index.post_type_page{
    .header{
        @include media-breakpoint-up(md){
            min-height: var(--hea-hei);
        }
    }
}

.header {
    @include position(relative);
    padding: 24rem 0 18.2rem;
    background-color: var(--hea-bg-clr);
    
    @keyframes opacity-smooth {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &-grid{
        @include position(absolute);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .afbeeldings-galerij{
            @include position(relative);
            width: 120%;
            height: 100%;
            margin-left: -10%;

            .header-galerij{
                &-wrapper{
                    width: 100%;
                    @include position(relative);
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: var(--hea-hei);
                    
                    margin-top: -10rem;
            
                    .galerij{
                        &-image{
                            @include position(relative);
                            width: 100%;

                            padding-top: calc(100% / 6);
                            width: calc(100% / 6);
                            opacity: .5;
                            
                            &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(8), &:nth-child(12) {
                                padding-top: calc(100% / 4);
                                opacity: .8;
                            }

                            &:nth-child(10){
                                padding-top: calc(100% / 6);
                            }

                            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                                margin-top: auto;
                            }

                            &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                                margin-bottom: auto;
                            }

                            &:nth-child(2), &:nth-child(8){
                                top: 4rem;
                            }

                            &:nth-child(4), &:nth-child(10){
                                top: 8rem;
                            }

                            &:nth-child(5), &:nth-child(11){
                                top: -4rem;
                            }
                           
                            .grid{
                                &-img{
                                    &-image{
                                        @include position(absolute);
                                        top: 2rem;
                                        left: 2rem;
                                        width: calc(100% - 4rem);
                                        height: calc(100% - 4rem);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    

    &-trans{
        animation: opacity-smooth 1s forwards;
        -webkit-animation: opacity-smooth 1s forwards;
    }

    &-vid{
        @include position(absolute);
        top: 0;
        left: 0;
        @include dimensions(100%, 100%);
        object-fit: cover;
        pointer-events: none;
    }

    &_slider{
        .swiper{
            &-slide{
                height: auto;
                .header{
                    height: 100%;
                }
            }
        }
    }

    &.empty_img{
        background-color: var(--clr-3);
        padding: 19.1rem 0 14rem;
        
        &::before{
            content: '';
            display: none;
        }
    }

    &.min_img{
        padding: 0 0 32rem;
    }

    &_inner {
        @include position(relative);    
        z-index: 1;
        max-width: 50%;

        &_center{
            margin: 0 auto;
        }

        &_right{
            margin: 0 0 0 auto;
        }

        h1, p {
            color: $white;
        }

        p:nth-last-child(1){
            margin-bottom: 0;
        }

        p.intro{
            margin-top: 2.4rem;
        }
        
        .upload-date{
            margin-top: 2rem;
        }
    }

    &_button{
        margin-top: 3.4rem;
    }

    &::before{
        content: "";
        @include position(absolute);
        background: var(--hea-ovl);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .5;    
    }

    
    .breadcrumbs {
        p{
            margin-top: 0;
            margin-bottom: 1.5rem;
            color: var(--clr-1); 
        }

        a {
            color: var(--clr-1);
            text-decoration: none;
        }

    }

    &_image{
        @include position(relative);
        margin-top: -17rem;
        padding-top: 56.25%;
        margin-bottom: 5rem;

        h6{
            @include position(absolute);
            margin-bottom: 0;
            left: 30px;
            bottom: 28px;
            color: white;
            opacity: .5;
        }
    }
    .theme {
        &_0{
            max-width: unset;
            align-items: center;

            * {
                text-align: center;
            }
        }
    
    }
}


.relative-sc{
    @include position(relative);
    width: 100%;  
}
.scr{
    @include position(absolute);
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%)); 
    z-index: 3;

    &.scrolldown{
        &-right{
            .scrolldown{
                &-default{
                    @include transform(translateY(50%) translateX(1.1250rem)); 
                }
            }
        }   

        &-left{
            .scrolldown{
                &-default{
                    @include transform(translateY(50%) translateX(-1.1250rem)); 
                }
            }
        }
    }
    .scrolldown{
        cursor: pointer;
        position: absolute;
        height: 7.5rem;
        width: 7.5rem;
        bottom: 0;
        z-index: 2; 
        @include transform(translateY(50%)); 
    
        &.scrolldown{
            
            &-custom{
                .scrolldown{
                    &_inner{
                        @include border-radius(0);
                        @include bg-color(transparent);
                        width: 100%;
                        height: 100%;
                        margin-top: 0;
                        margin-left: 0;
                
                        &::before, &::after{
                            display: none
                        }
                    }
                }
            }
        }
        &_inner{
            @include position(relative);
            @include border-radius(var(--bdr-1));
            @include bg-color(var(--clr-1));
            width: 70%;
            height: 70%;
            margin-top: 15%;
            margin-left: 15%;
    
            &::after{
                content: "";
                @include position(absolute);
                @include border-radius(var(--bdr-1));
                @include bg-color(var(--clr-1));
                top: -1.25rem;
                left: -1.25rem;
                height: calc(100% + 2.5rem);
                width: calc(100% + 2.5rem);
                opacity: .2;
                z-index: -1;
                @include pulsate;
            }
    
            &::before{
                content: url('/theme/assets/images/scrolldown.svg');
                @include position(absolute);
                bottom: -0.6rem;
                left: 50%;
                @include transform(translate(-50%, -50%)); 
            }
        }
    }
}



.label__wrapper{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    z-index: 11;

    .label{
        padding: .5rem 1rem;
        background-color: var(--clr-1);
        color: white;
        margin-left: .5rem;
        @include fonts(var(--font-font-3-link), 1.3rem, 1.3rem);
        @include border-radius(var(--bdr-2));
        &__label{
            padding: .5rem 2rem;
            @include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
        }
    }
}

.categories{
    @include position(relative);
    margin-top: 4rem;

    .category {
        
        pointer-events: auto;
        @include position(relative);
        padding: .5rem 2rem;
        
        margin: 0 .5rem .5rem;
    
        &::before{
            content: '';
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            @include border-radius(var(--bdr-2));
        }

        &.checked{
            &::before{
                background: var(--clr-1);
            }
        }

        label{ 
            pointer-events: auto;
            @include position(relative);
            color: $white;
        }

        input {
            cursor: pointer;
            pointer-events: auto;
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }

    &.pc__categories{
        margin-bottom: 6rem;
        .category{
            margin-left: 0;
            margin-right: 1rem;
            &::before{
                content: '';
                @include position(absolute);
                background: var(--clr-4);
            }
            
            a{
                @include position(relative);
                font-size: var(--font-7);
                line-height: var(--font-7-line);
                color: var(--clr-3);
                text-decoration: none;
            }
            &.checked{
                &::before{
                    background: var(--clr-1);
                }

                a{
                    color: $white;
                }
            }
        }
    }
}

.titel-element {
    &-custom{
        &.ai-end{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: right;
                    white-space: pre-line;
                }
            }
        }
        &.ai-center{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: center;
                    white-space: pre-line;
                }
            }
        }
        &.ai-start{
            .titles{
                h2, h3, h4, h5, h6, p{
                    text-align: left;
                    white-space: pre-line;
                }
            }
        }
    }
    .titles{
        @include position(relative);

        h2, h1{
            @include position(relative);
            margin-bottom: 0;
            z-index: 2;
        }

        .bg-text{
            @include position(absolute);
            text-align: center;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%, -50%));
            z-index: 1;
            @include fonts(var(--font-font-1-link), var(--font-1), var(--font-1-line));
            margin: 0 0 0 0;
            text-transform: var(--font-1-cap);
            font-weight: var(--font-1-fw);
        }
    }
}
/* EXTERN HEADER */ 
.extern-header{
    @include position(relative);
    padding-top: 10rem;
    padding-bottom: 5rem;


    .titels-intro{
        margin-top: 2rem;
    }

    h1{
        max-width: 700px;
    }

    &.pc_header{
        padding-top: 5.6rem;
        padding-bottom: 0rem;

        h1{
            font-size: var(--font-1);
            line-height: var(--font-1-line);
            color: var(--clr-3);
        }

        .pc__description_index{
            p{
                margin-top: 2.5rem;
                margin-bottom: 0;
                
            }
        }
    }
}

@media screen and (max-width: 1600px) and (min-width: 1300px) {
    .header {
        &-grid{
            .afbeeldings-galerij{
                .header-galerij{
                    &-wrapper{   
                        margin-top: -4rem;             
                        .galerij{
                            &-image{
                                padding-top: calc(100% / 5);
                                width: calc(100% / 5);
                                
                                &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(12) {
                                    padding-top: calc(100% / 5);
                                }
    
                                &:nth-child(10), &:nth-child(8){
                                    padding-top: calc(100% / 5);
                                }

                                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                                    margin-top: 0;
                                }
                                &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                                    margin-bottom: 0;
                                }

                                &:nth-child(2), &:nth-child(8){
                                    top: 0rem;
                                }
    
                                &:nth-child(4), &:nth-child(10){
                                    top: 0rem;
                                }
    
                                &:nth-child(5), &:nth-child(11){
                                    top: 0rem;
                                }

                                &:nth-child(2), &:nth-child(7), &:nth-child(5), &:nth-child(10) {
                                    top: 4rem;
                                }

                                &:nth-child(3), &:nth-child(8) {
                                    top: -8rem;
                                }
                                &:nth-child(11) {
                                    margin-left: calc((100% / 5) * 2);
                                    top: -8rem;
                                }
                                &:nth-child(12), &:nth-child(4), &:nth-child(9) {
                                    top: -16rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1400px) {
    .header {
        &-grid{
            .afbeeldings-galerij{
                .header-galerij{
                    &-wrapper{   
                        margin-top: 8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .header {
        &-grid{
            .afbeeldings-galerij{
                .header-galerij{
                    &-wrapper{   
                        margin-top: -4rem;             
                        .galerij{
                            &-image{
                                padding-top: calc(100% / 4);
                                width: calc(100% / 4);

                                &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(8), &:nth-child(12) {
                                    padding-top: calc(100% / 4);
                                }
    
                                &:nth-child(10){
                                    padding-top: calc(100% / 4);
                                }
    
                                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                                    margin-top: 0;
                                }
    
                                &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                                    margin-bottom: 0;
                                }
    
                                &:nth-child(2), &:nth-child(8){
                                    top: 0;
                                }
    
                                &:nth-child(4), &:nth-child(10){
                                    top: 0;
                                }
    
                                &:nth-child(5), &:nth-child(11){
                                    top: 0;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &-grid{
            .afbeeldings-galerij{
                .header-galerij{
                    &-wrapper{   
                        margin-top: -4rem;             
                        .galerij{
                            &-image{
                                padding-top: calc(100% / 3);
                                width: calc(100% / 3);

                                &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(8), &:nth-child(12) {
                                    padding-top: calc(100% / 3);
                                }
    
                                &:nth-child(10){
                                    padding-top: calc(100% / 3);
                                }

                                &:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11) {
                                    top: -8rem;
                                }
                                &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12) {
                                    top: 4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        &-grid{
            .afbeeldings-galerij{
                .header-galerij{
                    &-wrapper{   
                        margin-top: -4rem;             
                        .galerij{
                            &-image{
                                .grid{
                                    &-img{
                                        &-image{
                                            @include position(absolute);
                                            top: 1rem;
                                            left: 1rem;
                                            width: calc(100% - 2rem);
                                            height: calc(100% - 2rem);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

