/* NAVIGATION STYLING */

.nav{
    &-relative{
        .shop, .cart, .checkout, .account, &.post_conduct_show.post_type_product {
            &__container{
                padding-top: 2rem;
                @include media-breakpoint-up(md){
                    padding-top: 8.8rem;
                }
            }
            .pc__product{
                padding-top: 2rem;
                @include media-breakpoint-up(md){
                    padding-top: 8.8rem;
                }
            }
        }
    }
}
.mega-menu{
    &__overlay{
        .navigation{
            &.dark, &.dark.fix{
                .navbar_nav {
                    .nav_item{
                        a {
                            color: white;
                        }
                    }
                }  
            }
        }
    }
}
.navigation {
    @include position(fixed);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    
    &.full-nav{
        .nav{
            .navbar, .plate-{
                &-container{
                    max-width: unset;
                }
            }
        }
    }
    &.navigation-text{
        &.fix, &.fix.light, &.fix.dark, &.rel, &.rel.light, &.rel.dark {
            .navbar_nav, .mega-menu-container .mega-menu-wrapper {
                .nav{
                    &_item{
                        a{
                            color: var(--clr-menu);
                        }
                    }
                }
            }
        }
        &.mega-menu__active.fix, &.mega-menu__active.fix.light, &.mega-menu__active.fix.dark, &.mega-menu__active.rel, &.mega-menu__active.rel.light, &.mega-menu__active.rel.dark,
        &.menu-open.fix, &.menu-open.fix.light, &.menu-open.fix.dark, &.menu-open.rel, &.menu-open.rel.light, &.menu-open.rel.dark,
        &.fixed-header.fix, &.fixed-header.fix.light, &.fixed-header.fix.dark, &.fixed-header.rel, &.fixed-header.rel.light, &.fixed-header.rel.dark {
            .navbar_nav, .mega-menu-container .mega-menu-wrapper {
                .nav{
                    &_item{
                        a{
                            color: var(--clr-menu-fix);
                        }
                    }
                }
            }
        }

    }

    
    &.rel{
        @include position(relative);

        .logo-normal{
            display: none;
        }

        .logo-diap{
            display: block;
        }

        &.fixed-header{
            @include position(fixed);            
        }

        &.menu-open, &.fixed-header, &.mega-menu__active{
            .navbar{
                &_brand{
                    .logo-normal{
                        display: block;
                    }
                    
                    .logo-diap{
                        display: none;
                    }
                }
            }

            .navbar_nav {
                .nav_item{
                    a {
                        color: white;
                    }
                }
            }  
        }

        .shop__container{
            padding-top: 8.5rem;
        }
         
        .navbar_nav {
            .nav_item{
                a {
                    color: var(--clr-3);
                }
            }
        }  

        .mega-menu-container {
            @include media-breakpoint-up(md){
                @include position(absolute);
            }
            .mega-menu-wrapper {
                .nav_item{
                    a{
                        color: white;   
                    }
                } 
            }
            
            .column {
                &.mega-menu__contact{
                    p {
                        color: white; 
                    }
                }
            }
        } 
    }
    &.ab{
        @include position(absolute);

        &.fixed-header{
            @include position(absolute);
        }
    }
    &.fix{
        
        &.dark{
            .navbar_nav {
                .nav_item{
                    a {
                        color: var(--clr-3);
                    }
                }
            }  

            .logo-diap{
                display: block;
            }

            .logo-normal{
                display: none;
            }
        }

        &.light{
            .navbar_nav {
                .nav_item{
                    a {
                        color: white;
                    }
                }
            }  

            .logo-diap{
                display: none;
            }

            .logo-normal{
                display: block;
            }
        }

    }

    &.hide_on_scroll{
        @include transition(.3s);
        &.scroll-down{
            @include transform(translateY(-100%))
        }
    }

    &.fixed-header{
        @include position(fixed);
        background-color: var(--clr-5);

        .navbar_brand {
            .logo-diap{
                display: none;
            }

            .logo-normal{
                display: block;
            }
        }

        &.dark{
            .navbar_nav {
                .nav_item{
                    a {
                       color: white;
                    }
                }
            }  
        }

        .nav{
            .nav_item{
                &_shop{
                    &.cart{
                        border-color: white;
                    }
                }
            }
        } 
    }

    &.scrll-down{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    &.scrll-up{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    @include media-breakpoint-down(md){
        .cars{
            &-offer{
                .vehicle--columns{
                    .column{
                        .card{
                            padding-bottom: 2.7rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }

        .select-arrow{
            &.revese.back-main-menu{
                width: 16px;
                margin-bottom: 3rem;
                @include transform(rotate(180deg));
            }
        }
    }

    .nav{
        @include position(relative);
        height: 100%;
    
        &bar_inner {
            @include position(relative);
            padding-top: 2.7rem;
            padding-bottom: 2.7rem;
        }

        @include media-breakpoint-down(md){
            .mega-menu-container{
                @include position(absolute);
                width: 100%;
                height: 100vh;
                opacity: 1;
                top: 0;
                @include transform(translateY(-100%));   
                background-color: var(--clr-5);
            }    
        }

        &bar_brand{
            @include position(relative);
            margin-right: 3rem;
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            z-index: 99;

            h3{
                margin-bottom: 0;
            }
            img{
                max-height: 100%;
                width: var(--desk-logo);

                @include media-breakpoint-down(md){
                    width: var(--mob-logo);
                }
            }

            a{
                text-decoration: none;
            }
        }

        &bar_collapse{
            @include position(relative);
            @include media-breakpoint-down(md){
                display: none;
            }
        }

        .shop-nav{
            margin-top: 3rem;
        }

        .nav_item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include position(relative);


            

            &.dropdown{
                margin-right: 20px;

                @include media-breakpoint-up($breakpoint){
                    svg{
                        width: 10px;
                        @include position(absolute);
                        right: -20px;
                    }
                }
            }
            
            &_shop{
                width: 4.8rem;
                height: 4.8rem;
                margin-left: 1.4rem!important;
                background-color: white;
                border: 1px solid var(--clr-1);
                @include flex-cc;
                @include border-radius(var(--bdr-1));

                @include media-breakpoint-down($breakpoint){
                    margin-right: 1.4rem;
                    margin-left: 0!important;
                }
                
                &.cart{
                    background: var(--clr-3);
                    border-color: var(--clr-3);
                    @include ease(.2s);


                    @include media-breakpoint-down($breakpoint){
                        border-color: white;
                    }

                    &.updated{
                        opacity: .8;
                        @include transform(scale(0.9)); 
                    }

                    .pc__cartsize{
                        @include position(absolute);
                        top: -2px;
                        right: -2px;
                        background: white;
                        width: 2.5rem;
                        height: 2.5rem;
                        border: 1px solid var(--clr-3);
                        text-align: center;
                        font-size: 15px;
                        line-height: 2.5rem;
                        color: var( --clr-3);
                        @include border-radius(var(--bdr-1));
                    }
                }
                .nav_link{
                    line-height: 0;
                }
            }
        }
        &bar_nav{
            @include position(relative);
            width: 100%;    
            list-style: none;
            margin-bottom: 0;
            
            .nav_item{
                margin-left: 3rem;
                
                @include media-breakpoint-down(lg){
                    margin-left: 1.8rem;
                }

                a{
                    text-decoration: none;
                    color: $white;
                }
  
            }

            .indicator{
                height: 5px;
                background-color: var(--clr-1);
                position: absolute;
                bottom: 0px;
                width: 0;
                opacity: 1;
                @include border-radius(var(--bdr-1));
                transform: translateX(-2.5px);
                -webkit-transform: translateX(-2.5px);
                -moz-transform: translateX(-2.5px);
                -ms-transform: translateX(-2.5px);
                -o-transform: translateX(-2.5px);
            }
        }
    }

    .menu-bar {
        position: relative;
        display: none;
        height: 5rem;
        width: 100%;
        background-color: var(--clr-5);
    }

    .mega-menu-container {
        position: relative;
        width: 100%;
        background: var(--clr-5);
        height: 0;
        opacity: 0;
        display: block;
        overflow: hidden;
        transition: height 0ms .4s,opacity .4s 0ms;
        

        &.--mobile{
            display: none;

            @include media-breakpoint-down($breakpoint){
                display: block;
            }
        }
        ul{
            list-style: none;
            margin-bottom: 0;

            .nav_item{
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: var(--font-7);
                    line-height: var(--font-7-line);
                }

            }
        }
    
        .mega-menu-wrapper{
            @include position(relative);
        }

        .mega-menu{
            @include position(absolute);
            top: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;

            &.active{
                opacity: 1;
                visibility: visible;
                width: 100%;
                
            }
        }


        .column{
            
            &.mega-menu__contact{
                margin-left: 0;
                width: auto;
                margin-right: 6rem;
                p{
                    color: $white;
                }

                .social-share-items{
                    margin-top: auto;

                    .social-link{
                        color: $white;
                    }
                }
            }
        }
        
        .mega-menu-wrapper{
            .nav_item{
                a {
                    text-decoration: none;
                    color: $white;
                }
            } 
            .show-mobile{
                display: none;
                @include media-breakpoint-down(md){
                    display: flex;
                    @include position(relative);
                    margin-bottom: 1rem;

                    .button-wrapper {
                        margin-top: 2rem;
                    }
                }
            }

            .mega-menu{
                padding-top: 4.7rem;
                padding-bottom: 4.7rem;
            }
        }
    }

    &.mega-menu__active{
        background-color: var(--clr-5);

        .navbar_inner{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .mega-menu-container{
            opacity:1;
            transition:height 0s 0s,opacity .4s 0s;
            height:auto;
        }

        
        .logo-diap{
            display: none;
        }

        .logo-normal{
            display: block;
        }

        &.fix{
            .logo-diap{
                display: none;
            }
    
            .logo-normal{
                display: block;
            }   
        }
    }

    .logo-diap{
        display: none;
    }

    .mega-menu{
        width: 100%;
    }
}

/* DROPDOWN STYLING */

.dropdown-menu.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: none;
    min-width: 100px;
    padding: 10px 0;
    margin: 0 0 0 0;
    @include border-radius(0);
}

.dropdown{
    &-menu{
        &-small{
            position: absolute;
            top: 4.5rem;
            left: -2.8rem;
            padding: 1.5rem 2.8rem 2.8rem;
            background: var(--clr-5);
            min-width: 20rem;
            visibility: hidden;
            opacity: 0;
            @include ease(.2s);
            @include transform(scale(.97) translateY(.5rem));
            box-shadow: 6px 20px 20px -14px rgba(0, 0, 0, 0.149);
            
            .dropdown-item{
                padding: 0 0 0 0;
                margin-bottom: 2.2rem;

                &-last{
                    margin-bottom: 0;
                }
            }
        }
    }

   

    &:hover{
        .dropdown{
            &-menu{
                &-small{
                    visibility: visible;
                    opacity: 1;

                    @include transform(scale(1) translateY(0rem));
                }
            }
        }
    }
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 15px;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: none;
}

/* NAVBAR TOGGLER STYLING */

.navbar-toggler {
    background-color: transparent;
    display: none;
    padding-right: 0;
    z-index: 100;
    outline: none;
    border: none;

    .bars {
        @include position(relative);
        height: auto;
        width: 20px;
    
        .bar {
            @include dimensions(100%, 1px);
            background: var(--clr-1);
            margin-bottom: 4px;
            -webkit-transition: all .15s linear;
            -moz-transition: all .15s linear;
            -ms-transition: all .15s linear;
            -o-transition: all .15s linear;
            transition: all .15s linear;
        }
    }

    &:focus {
        outline: none;
    }

    @include media-breakpoint-down(md){
        display: block;
    }
}

.menu-open{
    .bars {
        margin: 0;

        .bar{
            &.bar-1{
                transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -webkit-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -moz-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -ms-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -o-transform: translateY(5px) rotate(45deg) scaleX(1.2);        
            }

            &.bar-2{
               opacity: 0;
               transform: scale(0);
               -webkit-transform: scale(0);
               -moz-transform: scale(0);
               -ms-transform: scale(0);
               -o-transform: scale(0);
            }

            &.bar-3{
                transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -webkit-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -moz-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -ms-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -o-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
            }
        }
    }

    &.navigation{
        .logo{
            &-normal{
                display: block;
            }

            &-diap{
                display: none;
            }
        }
    } 
} 
    





body{
    &.post_theme{
        &_1{
            .navigation {
                .nav{
                    &bar_nav{
                        .nav_item{
                            a{
                                color: var(--clr-3);
                            }

                            .button{
                                a{
                                    color: $white;
                                }
                            }
                        }
                    }           
                }

                &.mega-menu__active, &.fixed-header{
                    .nav{
                        &bar_nav{
                            .nav_item{
                                a{
                                    color: $white;
                                }
                            }
                        }           
                    }
                }
            }
            .header{
                &.empty_img{
                    background-color: $grey;
                    padding-bottom: 0;
                }

                .category {
                    &::before{
                        background: var(--clr-4);
                    }

                    label{
                        color: var(--clr-3);
                    }

                    &.checked{
                        &::before{
                            background: var(--clr-1);
                        }

                        label {
                            color: white;
                        }
                    }
                    
                }
                h1{
                    color: var(--clr-3);
                }
            }

            .items-container{
                &::before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    background-color: var(--clr-4);
                    top: -30rem;
                    left: 50%;
                    height: calc(100% + 30rem);
                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    background-color: var(--clr-4);
                    bottom: -1.7rem;
                    left: 50%;
                    transform: translateX(-50%) translateY(100%);
                    -webkit-transform: translateX(-50%) translateY(100%);
                    -moz-transform: translateX(-50%) translateY(100%);
                    -ms-transform: translateX(-50%) translateY(100%);
                    -o-transform: translateX(-50%) translateY(100%);
                    @include border-radius(var(--bdr-1));   
                }

                &.content-up{
                    margin-top: 7rem;
                    margin-bottom: 15rem;
                }

                .item{
                    width: 44%;
                    margin-bottom: 5rem;

                    &:nth-child(1n), &:nth-child(3n){
                        margin-right: 12%;
                    }


                    &:nth-child(2n){
                        top: -30rem;
                        margin-right: 0;
                    }
                    &_image{
                       height: 27.5rem;
                    }
                    &_content{
                        position: relative;
                        max-width: 87%;
                        margin-left: auto;
                        margin-top: -6rem;

                        h3{
                            
                            @include fonts(var(--font-font-1-link), 3rem, 3.2rem);
                            text-align: left;
                            margin-right: auto;
                        }

                        p{
                            text-align: left;
                            margin-right: auto;
                            margin-bottom: 1rem;   
                        }
                        h6{
                            text-align: left;
                            margin-right: auto;
                        }   
                    }
                }
            }
        }

        &_show_0{
            .header{
                &_inner{
                    max-width: 80%;
                    margin: 0 auto;
                
                    h1, p{
                        text-align: center;
                        color: var(--clr-3);
                    }
                }
            }
        }

        &_show_1{
            .header{
                padding: 17.1rem 0 10rem;

                &_inner{
                    max-width: 80%;
                }

            }
            .header_image{
                margin-top: 0;
                padding-top: 46.65%;
            }

            .render-content {
                padding: 4rem;
                margin-top: -13rem;
                background: white;
            }
        }
    }
}