/* SECTION STYLING */
.section-container {
    @include position(relative);
    @include dimensions(100%, auto);

 

    &.size_1_3 {
        .section-content {
            .section_image{
                width: calc(100% / 3);
            }

            .section_text{
                width: calc((100% / 3) * 2);
            }
        }
    }
    &.size_2_3 {
        .section-content {
            .section_image{
                width: calc((100% / 3) * 2);
            }

            .section_text{
                width: calc(100% / 3);
            }
        }
    }
    &.section-full-width{
        .plate--container{
            max-width: unset;
            padding-left: 0;
            padding-right: 0;
        
            .plate--row{
                margin-right: 0;
                margin-left: 0;
                .plate--column{
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .background-layer{
        @include position(absolute);
        width: 100%;
        top: 0;
        left: 0;
    }

    .section-content {
        @include position(relative);
        z-index: 2;

        
        &.plate--container {
            .section-content {
                &-inner{
                    .section_side{
                        padding: 0px 115px;
                        min-height: 300px;

                        &.section_text_custom_color{
                            padding-left: 115px;
                            padding: 100px 115px;
                            @include media-breakpoint-down(md){
                                padding-left: 4rem;
                                padding-top: 4rem;
                                padding-bottom: 4rem;
                                padding-right: 4rem;
                            }
                        }   
                    }    
                    &.fl-row{
                        .section_side{
                            padding-left: 0;
                            &.section_text_custom_color{
                                padding-left: 115px;
                                @include media-breakpoint-down(md){
                                    padding-left: 4rem;
                                }
                            }
                        }
                        &-reverse{  
                            .section_side{
                                padding-right: 0;
                                &.section_text_custom_color{
                                    padding-right: 115px;
                                    @include media-breakpoint-down(md){
                                        padding-right: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .section_side{
            @include position(relative);
            width: 50%;
            padding: 100px 115px;
            min-height: 550px;

            h6{
                margin-bottom: 20px;
            }

            h2{
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 30px;
            }
            &.light{
                h2{
                    color: var(--clr-3);
                }

                p{
                    color: var(--clr-3);
                }

                .section_text_inner{
                    * {
                        color: var(--clr-3)
                    }
                }
            }

            &.dark{
                background: var(--clr-3);

                h2{
                    color: white;
                }

                p{
                    color: white;
                }


                .section_text_inner{
                    *{
                        color: white;
                    }
                }
            }
        }
    }
}