/* SIDEBAR */
.sidebar{
    &_item{
        padding: 4rem; ;
        margin-bottom: 2rem;
        background-color: $grey;
        
        form{
            .form-button{
                margin-top: 0;
            }
        }

        &.link_wrapper {
            padding: 4rem;
            .link_wrapper_inner{
                width: 100%;
                margin-bottom: 0;
                background-color: transparent;
                padding: 0rem;    
                
                .link{
                    &::after{
                        content: '';
                        background-color: var(--clr-3);
                        opacity: .1;
                    }
                }
            }
            
            h2{
                margin-bottom: 1.2rem;
                color: var(--clr-3)
            }

            

            a{
                &:nth-last-child(1){
                    .link{
                        padding-bottom: 0;

                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }

        &.contact_wrapper {
            h3{
                color: var(--clr-3)
            }
            ul{
                li{
                    color: var(--clr-3);
                }
                a{
                    color: var(--clr-3);
                }
            }

            .service{
                padding: 0 0 0 0;
                background-color: transparent;
                li{
                    &::after{
                        background-color: var(--clr-3);
                        opacity: .1;
                    }
                }
            }
        }

        &.menu_wrapper {
            h3{
                color: var(--clr-3);
            }

           .menu_items{
               margin-bottom: 0;

               li{
                    a{
                        color: var(--clr-3);
                    }
               }
           }
        }

        &.social_wrapper{
            border: 1px solid $grey;
            background-color: transparent;
            border-left: none;
            border-right: none;
            margin-bottom: 5rem;
            padding: 2rem 3rem;
        }
    }
}